@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #348E38; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #2d7532; /* Color when hovering over the thumb */
}

/* Custom scrollbar for Firefox */
body {
  scrollbar-width: thin; /* Sets the scrollbar width to thin */
  scrollbar-color: #348E38 #f1f1f1; /* thumb color and track color */
}
  
  html {
    scroll-behavior: smooth;
  }


  /******************************************* 
  Rich Text Styles
*******************************************/ 

/* Headers */
.rich-text h1 {
  @apply text-4xl font-bold mb-4 text-primary-700;
}

.rich-text h2 {
  @apply text-3xl font-bold mb-4 text-primary-700;
}

.rich-text h3 {
  @apply text-2xl font-bold mb-4 text-primary-700;
}

.rich-text h4 {
  @apply text-xl font-bold mb-4 text-primary-700;
}

.rich-text h5 {
  @apply text-lg font-bold mb-4 text-primary-700;
}

.rich-text h6 {
  @apply text-base font-bold mb-4 text-primary-500;
}

/* Horizontal rules */
.rich-text hr {
  @apply border-gray-300 my-8;
}

.rich-text a {
  @apply text-primary-700 underline hover:text-primary-500;
}

/* Typographic replacements */
.rich-text p {
  @apply mb-4;
}

/* Emphasis */
.rich-text strong {
  @apply font-bold text-primary-700;
}

.rich-text em {
  @apply italic;
}

.rich-text del {
  @apply line-through;
}
.anchor {
  scroll-margin-top: 250px; /* Adjust as needed */
}
/* Blockquotes */
.rich-text blockquote {
  @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
  @apply list-disc pl-4 mb-4;
}

.rich-text ol {
  @apply list-decimal pl-4 mb-4;
}

.rich-text li {
  @apply mb-2 text-primary-700;
}

.rich-text li > ul {
  @apply list-disc pl-4 mb-2;
}

.rich-text li > ol {
  @apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
  @apply font-mono bg-gray-900 text-gray-100 rounded p-4  my-6;
}

.rich-text code {
  @apply font-mono bg-gray-900 text-gray-100 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
  @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
  @apply bg-primary-500 text-left py-2 px-4 font-semibold border-b border-gray-300 text-white;
}

.rich-text td {
  @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
  @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}


/******************************************* 
  React Slideshow Styles
*******************************************/   

.react-slideshow-container [aria-label="Previous Slide"] {
  margin-left: 1rem;
}

.react-slideshow-container [aria-label="Next Slide"] {
  margin-right: 1rem;
}